<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">


* {
	margin:0;
	padding: 0;
}


body {
	font-family: 'Nunito' , sans-serif;
	font-weight: 400;
	background-color: #EEE;
	margin: 0;
	padding: 0;
}

.image-container-1 {
	background-image: url(../images/coffee2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	align-items: center;

}

.main-container-1 {
	text-align: left;
	margin-left: 20px;
}

.main-container-1 h1{
	font-size: 100px;
	font-weight: 400px;
	color: rgba(33,23,23,1);
}

.btn {
	padding: 10px 40px;
	border-radius: 10px;
	background-color: rgba(33,23,23,1);
	color: #dfddc7;
	transition: .4s;
	font-size: 20px;
	width: 100%;
}

.btn:hover {
	background-color: #a34a28;

}

.image-container-2 {
	background-image: url(../images/coffee1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: #EEE;
	background-color: rgba(33,23,23,.8);
	position: sticky;
	top: 0;
}

.nav-bar h1{
	padding: 10px;
	margin: 0;
}

.nav-bar ul {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;

	font-size: 15px;
}

.nav-bar ul li {
	padding: 5px 10px;
	margin-right: 30px;
	list-style: none;
	border: 1px solid #EEE;
	border-radius: 20px;
	transition: 0.4s;
}

.nav-bar ul li:hover {
	background-color: #a34a28;
	cursor: pointer;
}


.content {
	display: flex;
	justify-content: center;
	align-items: center;

	color: #f58b54;
}

.content-left {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.content-right {
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.content-right img {
	height: 200px;
	width: 300px;
	margin-top: 100px;
}

.image-container-3 {
	background-image: url(../images/coffee4.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-size: 20px;
	color: #dfddc7;
}

.main-container-3 img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.image-container-4 {
	background-image: url(../images/coffee3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}


.main-container-4 h1 {
	color: #EEE;
}

.photos ul{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}

.photos ul li {
	list-style: none;
	margin: 0 10px;
}

.photos ul li img {
	height: 200px;
	width:200px;
	transition: 0.4s;
}

.photos ul li img:hover {
	transform: scale(1.3);
}

.image-container-5 {
	background-image: url(../images/coffee5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

input {
	width: 100%;
	height: 50px;
	background-color: rgba(33,23,23,.5);
	border-radius: 10px;
	margin:10px 0;
}

label{
	color: rgba(33,23,23,1);
}

form {
	text-align: left;
}

